<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mini Alexie {% block title %}{% endblock %}</title>
        <!-- In Benny Static URL is used -->
        <!-- <link rel="stylesheet" href=""> -->
        <style>
         .indexAccountType {
             float: left;
             padding: 25px;
         }
             
        </style>
    </head>
    <body>
        <div id="header">
            {% include "alexie/header.html" %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
